<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Liste des {{role}}</h6>
  </div>
  <div class="card-body" *ngIf="users.length > 0">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td class="text-center"><button (click)="submit(user._id)"><i class="fas fa-fw fa-trash"></i></button></td>
        </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <div>
        <ul class="pagination">
          <li style="cursor: pointer" class="page-item" *ngFor="let index of pages">
            <a class="page-link" (click)="changePage(index)" >{{index}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body pt-4" *ngIf="users.length == 0">
    <p>Vous n'avez pas d'users</p>
  </div>
</div>
