<app-nav>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des absences</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div>
          <label class="mr-3" for="searchDate">Rechercher par nom :</label>
          <input type="text" id="searchDate" [(ngModel)]="searchName" (keyup)="filterAbsences()">
        </div>

        <table *ngIf="absences.length > 0" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Etudiant</th>
            <th>État</th>
            <th>Matière</th>
            <th>Date</th>
            <th>Date début d'absence</th>
            <th>Date fin d'absence</th>
            <th>Supprimer</th>
            <th>Modifier l'état</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let absence of absences">
            <td>{{ absence.student }}</td>
            <td style="color: white" [ngClass]="{
                    'bg-success': absence.etat === 'justified',
                    'bg-danger': absence.etat === 'unjustified',
                    'bg-warning': absence.etat === 'waiting'
                  }">{{ absence.etat | status }}</td>
            <td>{{ absence.matiere }}</td>
            <td>{{ absence.dateAbsence | date }}</td>
            <td>{{ formatAbsenceDate(absence.dateAbsence, 'date') }}
              - {{ formatAbsenceDate(absence.dateAbsence, 'hours') }}
              :{{ formatAbsenceDate(absence.dateAbsence, 'minutes') }}</td>
            <td>{{ formatAbsenceDate(absence.dateAbsenceto, 'date') }}
              - {{ formatAbsenceDate(absence.dateAbsenceto, 'hours') }}
              :{{ formatAbsenceDate(absence.dateAbsenceto, 'minutes') }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteAbsence(absence._id)">Supprimer</button>
            </td>
            <td>
              <button class="btn btn-primary" (click)="toggleStateUpdate(absence)">Modifier</button>
              <div *ngIf="absence.showStateUpdate">
                <!-- Display state update options and save button -->
                <div class="form-check">
                  <input id="justifiee" type="radio" class="form-check-input" [(ngModel)]="absence.etat" [value]="'justified'">
                  <label for="justifiee" class="form-check-label">Justifiée</label>
                </div>
                <div class="form-check">
                  <input id="injustifiee" type="radio" class="form-check-input" [(ngModel)]="absence.etat" [value]="'unjustified'">
                  <label for="injustifiee" class="form-check-label">Injustifiée</label>
                </div>
                <div class="form-check">
                  <input id="waiting" type="radio" class="form-check-input" [(ngModel)]="absence.etat" [value]="'waiting'">
                  <label for="waiting" class="form-check-label">En attente</label>
                </div>
                <button class="btn btn-primary" (click)="updateState(absence)">Sauvegarder</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="pt-4" *ngIf="absences.length == 0">
          <p>Aucunes absences</p>
        </div>
        <div *ngIf="nbPages > 1">
          <ul class="pagination">
            <li style="cursor: pointer" class="page-item" *ngFor="let index of pages">
              <a class="page-link" (click)="changePage(index)" >{{index}}</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</app-nav>
