<app-nav>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des étudiants</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div>
          <label class="mr-3" for="searchDate">Rechercher par nom :</label>
          <input type="text" id="searchDate" [(ngModel)]="searchName" (keyup)="filterStudents()">
        </div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="['/professor/absences', student._id]">Créer une nouvelle
                    absence</a>
                  <a class="dropdown-item" [routerLink]="['/sendMessage', student.email]">Envoyer un message</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="nbPages > 1 && searchName === ''">
        <ul class="pagination">
          <li style="cursor: pointer" class="page-item" *ngFor="let index of pages">
            <a class="page-link" (click)="changePage(index)">{{index}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</app-nav>
