<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create new absence</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="from">From:</label>
                  <input type="email" class="form-control" id="from" name="from" [(ngModel)]="messages.from" required>
                </div>
                <div class="form-group">
                  <label for="to">To:</label>
                  <input type="email" class="form-control" id="to" name="to" [(ngModel)]="messages.to" required>
                </div>
                <div class="form-group">
                  <label for="messageContent">Message:</label>
                  <textarea class="form-control" id="messageContent" name="message" [(ngModel)]="messages.message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
              </form>
              <div *ngIf="success" class="alert alert-success mt-3">
                <strong>Success!</strong> The message has been sent.
              </div>
        </div>
    </div>
</div>